.vscode
.repo
.cache
.clangd
.config
.config.cmake
cscope*
compile_commands.*
chiptest
**/__pycache__
**/build
**/build_*
*.pyc
*.xlsx
*.xlsm
*.vsdx
*.xls
*.docx
*.doc
*.pptx
*.svd
**/_build
**/img_create_iot
docs/zh/_static/**
tools/CI
tools/bflb_tools/bouffalo_flash_cube/chips/**/efuse_bootheader/flash_para.bin
tools/bflb_tools/bouffalo_flash_cube/chips/**/device_tree/ro_params.dtb
